.projectContainer {
  flex: 1;

  margin: 20px;
  margin-bottom: 62px;
}

.projectabout {
  padding: 20px;
  flex: 1;
  background: white;
  border: 1px solid #8080809e;
  border-radius: 8px;
  text-align: center;
  color: var(--heading-color);
}

.projectabout .avatar {
  width: 40px;
  height: 40px;
}

.comments-container {
  margin-top: 30px;
}
.comments {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 10px;
  border-radius: 20px;
  color: var(--text-color);
  padding: 14px;
  justify-content: space-between;
}
textarea {
  background-color: white;
}
.comments .avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.comments-img-comment {
  display: flex;
  align-items: center;
}

.timeStemp {
  font-size: small;
  margin-left: 20px;
}
